.discriptionBlocke {
  padding: 10px;
}
.img {
  width: 100px;
}
.mainPhoto {
  max-width: 200px;
}
.contacts {
  padding-left: 10px;
}
.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: red;
}